@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #FCFCFC;
}

p {
    margin: 0px;
}

.heading {
    width: 100%;
    background-color: #de6868;
    color: #FCFCFC;
    text-align: center;
}

.heading__name {
    margin: 0px;
    padding: 40px 0px 40px 0px;
    font-weight: 100;
    font-size: 35px;
    text-transform: uppercase;
}

.info {
    padding: 20px 13% 20px 13%;
}

.info__links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px;
    font-size: 20px;
}

.link__option, a {
    text-decoration: none;
    color: #de6868;
    
}

.info__title {
    font-size: 30px;
    font-weight: 500;
    margin: 40px 0px 40px 0px;
}

.info__item {
    display: grid;
    grid-template-columns: 12% auto 20%;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.item__img {
    /*background-color: #CCCCCC;*/
    width: 70%;
    text-align: center;
    align-items: center;
}

.item__main {
    /*background-color: #AAAAAA;*/
}

.item__title {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 5px;
}

.item__description {
    font-weight: 400;
    font-size: 16px;
}
.item__description2 {
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;
}

.item__details {
    /*background-color: #888888;*/
    text-align: right;
    font-weight: 500;
    font-size: 16px;
}

.item__date {
    margin-bottom: 12px;
}